:root {
    --game-max-width: 500px;
    --color-present: oklch(0.769 0.115 96.668);
}

.game-container {
    max-width: var(--game-max-width);
}

.game-board {
    width: 350px;
    height: 420px;
}

.game-tile {
    @apply flex flex-1 justify-center items-center border-2;
}

.correct, .present, .absent, .error {
    color: var(--color-black) !important;
}

.correct {
    background-color: var(--color-lime-600);
}

.present {
    background-color: var(--color-present);
}

.absent {
    background-color: var(--color-slate-300);
}

.error {
    background-color: var(--color-red-500);
}
