:root {
    --game-max-width: 500px;
}

.game-container {
    max-width: var(--game-max-width);
}

.game-board {
    width: 350px;
    height: 420px;
}

.game-tile {
    @apply flex flex-1 justify-center items-center border-2;
}